<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
  </head>

  <body>
    <div id="signinButton">
      <span class="g-signin" data-scope="openid email"
      data-clientid="160515067806-c0o6gr5loqhpgogln4nn14couq0i3u7g.apps.googleusercontent.com"
      data-redirecturi="postmessage" data-accesstype="offline"
      data-cookiepolicy="single_host_origin" data-callback="signInCallback"
      data-approvalprompt="force"></span>
    </div>
  </body>
</html>
